<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="geo" />
        </intent>
        <intent>
            <action android:name="android.intent.action.DIAL" />
        </intent>
    </queries>

    <application
        android:name=".homifyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Homify">

        <activity
            android:name=".tenantHome"
            android:exported="false" />
        <activity
            android:name=".propertyDetailsActivity"
            android:exported="false" />

        <activity
            android:name=".profileActivity"
            android:exported="false"
            android:theme="@style/Theme.Homify" />
        <activity
            android:name=".addUnitActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".landlordHomeActivity"
            android:exported="false" />
        <activity
            android:name=".loginActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".registerActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".onboardingActivity"
            android:exported="false" />

        <activity
            android:name=".splashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".dashboardActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".manageUsersActivity"
            android:exported="false"
            android:parentActivityName=".dashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".manageUnitsActivity"
            android:exported="false"
            android:parentActivityName=".dashboardActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>